.Headergif{
    display:block;
    margin-left:auto;
    margin-right: auto;
    height:auto;
    width: 40%;
    background-color: #ff9d00;
}

.rest{
    background-color: #ff9d00;
}
.Intro{
    font-family: Impact, fantasy ;
    display:block;
    text-align: center;
    font-size: 3.5vw;
}
.pick_chap_cont{
    display:block;
    text-align:center;
    position:relative;
}

.pick_chap_cont img{
    width: 30%;
    height: auto;
}

.chap_dropdown {
    bottom: 25%;
    left: 45%;
    position:absolute;
}

.youtubebg_cont{
    position:relative;
    text-align:center;
    display:block;
}

.youtubebg_cont img{
    width: 70%;
    height: auto;
}

.youtube_cont{
    position: absolute;
    width:53%;
    height: 53%;
    top:18%;
    left: 23%;
}

.video{
    width:100%;
    height:100%;
}
.gamebg_cont{
    background-color: #ff9d00;
}
.game_cont{
    display:block;
    height: 60vh;
    width: 100%;

}

.curr_cont{
    display:block;
    margin-left:auto;
    margin-right: auto;
    height:auto;
    width: 20%;
    background-color: #ff9d00;
}
.footer{
    background-color: black;
    border-top: 10vw solid #ff9d00;
}
.footer p{
    color:white;
    font-size:small;
    margin-bottom:0;
}
.footer h1{
    color: white;
    font-size:medium;
}
.Overview p{
    background-color: #ff9d00;
    margin-bottom:0;
}

.text_cont{
    width:70%;
    margin-left:auto;
    margin-right: auto;
}
.text_cont p{
    font-size:2vw;
    font: Comic Sans, cursive;
    margin-bottom:0;
}
.wip{
    font-size:9vw;
    text-align: center;
    display: block;
}
.ans_cont{
    display:block;
    padding-top: 1vw;
}
.ans_but{
    background-color: chartreuse;
    border-radius: 25px;
    display: inline-block;
    padding:1vw;
    font-size:1vw;

}