.carousel_container {
    width:50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.Carousel_cap{
    color:black;
}

.img_cont{
    width:100%;
    height:50vh;
    text-align:center;
}